#root {
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
}
